
/*
wood brown: A89F68;
army green: 41521F;
*/
*{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}
a{
	padding: 0.8em;
}
header{
	background: url(../img/portada.jpg);
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.container{
	margin-left: 15px;
    color: white;
    padding-top: 5em;
    display: flex;
    justify-content: flex-start;
}
.container p{
	text-align: left;
}
ul{
	background: transparent;
	display: flex;
	flex-direction: row; 
	justify-content: space-between;
}
.barra ul h3 {
	color: white;
    margin: 31px;
    text-shadow: 5px 5px 5px #aaa;
}

a{
	margin-top: 20px;
	color: black;
	text-decoration: none;
}
a:hover{
	background-size: 30px;
	color: white;
	text-decoration: none;
}
button{
	border-radius: 10px;
	background-color: #63e663;
	margin: 15px;
    padding: 10px;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
}
.portada {
	top:0;
	width: 100%;
}

h3{
	color: #A89F68;
	font-weight: bold;

}
.parrafo1 .col1 {
	font-weight: bold;
    color: black;
	padding-top: 40px;
	display: flex;
	justify-content: center;
}
.contenedor2{
	margin-top: 20px;
}
.segunda .contenedor2 .row img{
	display: flex;
	align-self: flex-end;
	margin-left: 10px;	
}

